.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo,
  &__toggle {
    color: $title-color;
    font-weight: $font-bold;
  }

  &__toggle {
    font-size: 1.2rem;
    cursor: pointer;
  }

  &__item {
    text-align: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  @media screen and (max-width:320px) {
    .nav__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem .5rem;
    }
}

  &__link {
    display: flex;
    flex-direction: column;
    font-size: $smaller-font-size;
    color: $text-color-light;
    font-weight: $font-regular;
  }

  &__link:hover {
    color: $title-color;
  }

  &__icon {
    font-size: 1.2rem;
    margin-bottom: $mb-1;
  }
}

@media screen and (max-width: 968px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: $body-color;
    box-shadow: 0 1px 4px rgba($color: #000000, $alpha: 0.1);
    border-radius: 1rem 1rem 0 0;
    z-index: $z-fixed;
    transition: 0.3s;
  }
}

// Show menu

.show-menu {
  bottom: $header-height;
}

// Active menu link 

.active-link {
  color: $title-color;
}
